body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#main {
    width: 540px;
    margin: 54px auto 54px;
} 

#main img {
    margin-bottom: 32px;
}

h1 {
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

span {
    color: #EE24FF;
    font-weight: 700;
}

p {
    color: #828282;
    font-size: 15px;
    width: 540px;
}

strong {
    color: #3F3D56;
}

#line {
    width: 391px;
    margin: 0 auto 16px;
    border: 1px #ECEFF2 solid;
}

#footer a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #3F3D56;
}

#footer a + a {
    margin-left: 42px;
} 


#wave {
    width: 1349px;
}